@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  --bg-color: #000;
  --text-color: #DCDCDC;
}

*{
  margin : 0px;
  padding : 0px;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
a, button {
  all: unset;
  cursor: pointer;
}
li {
  list-style: none;
}

.wrapper {
  position: relative;
  min-height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
}

main {
  padding-top: 3.75rem;
  height: 100%;
}

.error-page {
  height: 100vh;
}